<footer id="footer">
	<div id="social">
		<p class="small"><a href="https://beian.miit.gov.cn/#/Integrated/index">渝ICP备15006065号-1</a> ©  <%= config.author %>| Powered by Hexo & 
			<a href="https://github.com/F0r3at/Lights"> Lights</a>
		</p>
	</div>
</footer>
